@model IEnumerable<StampMaker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="my-3">
    <a asp-action="Create" class="bg-primary px-2 py-2 rounded text-white">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transferee)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmationReceipt)
            </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transferee)
                </td>
            <td>
                @{
                    if (item.ConfirmationReceipt != null)
                    {
                        string imageBase64 = Convert.ToBase64String(item.ConfirmationReceipt);

                        string x = "data: image / png; base64," + imageBase64;

                        <img src="@string.Format(x)" width="200">
                    }
                        
                }

            </td>
            <td>
                <a class="bg-primary px-2 py-1 rounded text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="bg-success p-1 rounded text-white" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="bg-danger p-1 rounded text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>