@model Stamp.Site.Models.StampOutput

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StampOutput</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinutesForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinutesForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormOfTransformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormOfTransformation)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
