@model IEnumerable<Stamp.Site.Models.StampOutput>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateExit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinutesForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormOfTransformation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExit)
            </td>
            <td>
                @{
                        if (item.MinutesForm != null)
                    {
                            string imageBase64 = Convert.ToBase64String(item.MinutesForm);

                        string x = "data: image / png; base64," + imageBase64;

                        <img src="@string.Format(x)" width="100">
                    }
                        
                }
            </td>
            <td>
                @{
                        if (item.FormOfTransformation != null)
                    {
                            string imageBase64 = Convert.ToBase64String(item.FormOfTransformation);

                        string x = "data: image / png; base64," + imageBase64;

                        <img src="@string.Format(x)" width="100">
                    }
                        
                }
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
